body {
  margin: 0;
  background-color: #E69800;
  font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
