body {
  margin: 0;
  background-color:#E7D7A5;
  font-family: 'Merienda', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
